h3{
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(56, 12, 12);
    padding-top: 100px;
}
img{
    width: 700px;
    height: 550px;
    padding-top: 100px;
    margin: 100px;
    float: left;

}
p{
    font-family: cursive;
    font-size: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 40px;
}
.keke{
    background-image: url("../images/img.jpg");
    background-size: cover;
    width:2000px;
    height: 200px;
    padding-top: 10%;
    padding-bottom: 4%;
}
h2{
    font-size: 30px;
    text-align: center;
}
/* #img2{
    width: 500px;
    height: 450px;
    float: right;
    clear: right;
    padding-top: 100px;  
}
#p2{
    font-family: cursive;
    font-size: 20px;
    text-align: left;
    float: left;
    clear:left;
    padding-top: 160px;
   
} 

#img3{
    width: 500px;
    height: 450px;
    float: left;
    padding-top: 100px;
}
#p3{
    font-family: cursive;
    font-size: 20px;
    float: right;
    padding-top: 110px;
} */
