#About{
    font-size: 30px;
    text-align: center;
}
p{
    font-size: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Courier New', Courier, monospace;
}